.linkedin-footer{
  background-color: rgb(250,249,247);
  bottom: 0;
  width: 100%;
}

.linkedin-titleText{
  color: black;
  justify-content: center;
  text-align: center;
  font-size: large;
}

.linkedin-subtitleText{
  color: black;
  justify-content: center;
  text-align: center;
  font-size: medium;
  color: gray;
}
