<div class="card" style="width: 18rem;">
  <ul class="list-group-flush">
  <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiME7C5shpaxl0p_VLzCxXjm7emGHsdzBZhUX5nwo_L1Rg7eNczOQBMCVwo_ilOV8s6rY&usqp=CAU" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title linkedin-titleText">My Name</h5>
    <p class="card-text linkedin-subtitleText">Pro slacker</p>
  </div>
  <ul class="list-group list-group-flush">
    <button type="button" class="btn linkedin-clearButton">
      <li class="list-group-item">People who viewed your profile
        <div class="linkedin-numberText">23</div>
      </li>
      <li class="list-group-item">Connections
        <div class="linkedin-numberText">233</div>
      </li>
    </button>
      <li class="btn list-group-item"><img src="https://i.imgur.com/owuyhNJ.png"></li>
      <li class="btn list-group-item"><img src="https://i.imgur.com/mXuX4II.png"></li>
    </ul>
  </ul>
</div>
