<div class="linkedin-makePost">
  <div class="card w-125">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item ">
          <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiME7C5shpaxl0p_VLzCxXjm7emGHsdzBZhUX5nwo_L1Rg7eNczOQBMCVwo_ilOV8s6rY&usqp=CAU" style="width:40px;height:40px;">
          <a href="#" class="btn linkedin-textButton"><img src="https://i.imgur.com/LRGWF9Q.png"></a>
        </li>
        <li class="list-group-item">
          <a href="#" class="btn linkedin-clearButton"><img src="https://i.imgur.com/MaX7EPi.png"></a>
          <a href="#" class="btn linkedin-clearButton"><img src="https://i.imgur.com/BG9HvYp.png"></a>
          <a href="#" class="btn linkedin-clearButton"><img src="https://i.imgur.com/Btu8GXg.png"></a>
          <a href="#" class="btn linkedin-clearButton"><img src="https://i.imgur.com/KqQP8Ei.png"></a>
        </li>
      </ul>

    </div>
  </div>
</div>
