<div class="card">
  <div class="card-body">
    <img src = {{this.img}} style="width:40px;height:40px;">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.postText}}</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    <img class="card-img linkedinAltImage" src={{this.altImage}} alt="Card image cap">
    <div class="container-fluid mx-5">
      <div class="row">

    <li class="list-group-item">
      <a href="#" class="btn btn-primary">Like</a>
      <a href="#" class="btn btn-primary">Comment</a>
      <a href="#" class="btn btn-primary">Share</a>
      <a href="#" class="btn btn-primary">Send</a>
  </li>
      </div>
    </div>
    </div>
</div>
