<div class="container-fluid justify-content-center d-flex">
</div>
<div class="row">
  <div *ngFor="let message of messages" class="col 3">
    <app-network-message img={{message.img}} postText={{message.postText}} name={{message.name}}></app-network-message>
  </div>
</div>
<app-newtowrk-left-widget></app-newtowrk-left-widget>
<app-network-right-widget></app-network-right-widget>
<div class="container-fluid justify-content-center d-flex">
  <app-network-other-widget></app-network-other-widget>
</div>
<app-footer></app-footer>
